@charset "UTF-8";
/*$color-black: black;
$color-dimgrey: dimgrey;
$color-background: #A19B88;
$color-hover: #2C2918;

$font-size-copyrigths: 50%;
$font-size-titulo-servicios: 400%;
$font-size-subtitulo-servicios: 125%;
$font-size-boton-contacto: 90%;
$font-size-titulos-servicios: 100%;
$font-size-descripcion-serv: 90%;
$font-size-tipos-servicios: 100%;
$font-size-descripcion-servicios: 90%;
$font-size-titulo-portafolio: 375%;
$font-size-subtitulo-portafolio: 125%;
$font-size-titulo-nosotros: 310%;
$font-size-pilares: 95%;
$font-size-boton-nosotros: 90%;
$font-size-p-nosotros: 95%;
$font-size-datos-contacto: 75%;
$font-size-titulo-datos: 87.5%;
$font-size-formulario: 75%;
$font-size-enviar: 81.25%;*/
/*maps, variables, mixins, extend*/
.box-servicios, .grid-servicios .grid-servicios3 .servicio {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 30px;
  border: 1px solid #DBB41A;
  width: 300px;
  height: 330px;
  justify-content: space-around;
  text-align: center;
}

.overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
  top: 0px;
}

.titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-oblicua .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-baltazar .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-arpainterior .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-arpa .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-puntas .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-agustin .titulo-hoover {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 125%;
}

.descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-oblicua .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-baltazar .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-arpainterior .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-arpa .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-puntas .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-agustin .descripcion-hoover {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 85%;
  margin: 0px 30px;
}

/*para llamar en otro parcials primero importar al parcial en el que se desea ocupar, y luego poner:

ejemplo {
    @extend .box-servicios;
}

*/
.checkbtn {
  z-index: 1;
  display: none;
}

#check {
  display: none;
}

/*INDEX*/
@media only screen and (max-width: 1024px) {
  .contenedor-index {
    width: 100vw;
  }
  .contenedor-index .video-background {
    width: 100vw;
  }
  .contenedor-index .pag-index .header-index {
    display: flex;
    flex-direction: row-reverse !important;
    margin-left: 35px;
    margin-right: 35px;
  }
  .contenedor-index .pag-index .header-index .checkbtn {
    display: block;
    color: #F7F7F7;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .contenedor-index .pag-index .header-index .nav-container .barra-nav-inicio {
    border: black solid;
    padding: 40px 0px;
    position: fixed;
    background: #030000;
    width: 80%;
    height: 50%;
    right: -100%;
    transition: right 0.5s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    margin-top: 40px;
    border: none;
  }
  .contenedor-index .pag-index .header-index .nav-container .barra-nav-inicio .nav-item {
    display: block;
    line-height: 10px;
    border: none;
  }
  .contenedor-index .pag-index .logo .logo-blanco {
    width: 110px;
    height: 150px;
  }
  .contenedor-index .pag-index .titulos-index .titulo {
    font-family: "Raleway", sans-serif;
    font-size: 350%;
    text-align: center;
    font-weight: 200;
    color: #F7F7F7;
  }
  .contenedor-index .pag-index .titulos-index .sub-titulo {
    font-family: "Raleway", sans-serif;
    font-size: 120%;
    font-weight: 100;
    color: #F7F7F7;
  }
  #check:checked ~ .nav-container .barra-nav-inicio {
    right: 0;
  }
}
/*BARRA NAV GENERAL*/
@media only screen and (max-width: 820px) {
  .header-servicios {
    display: flex;
    flex-direction: row-reverse !important;
    padding: 0px 25px !important;
  }
  .header-servicios .checkbtn {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .header-servicios nav .barra-navegacion {
    padding: 35px 0px;
    position: fixed;
    background: #030000;
    width: 70%;
    height: 60%;
    right: -100%;
    transition: right 0.5s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 60%;
    margin-top: 40px;
    border: none;
    z-index: 1;
  }
  .header-servicios nav .barra-navegacion .nav-item {
    display: block;
    border: none;
  }
  .header-servicios nav .barra-navegacion .nav-item a {
    color: #CCCCCC !important;
    text-decoration: none !important;
    border-bottom: none !important;
  }
  .header-servicios .logo-nav {
    display: none;
  }
  .header-servicios .logo-responsive {
    display: flex;
    width: 190px;
    height: 50px;
  }
  #check:checked ~ .nav-container .barra-navegacion {
    right: 0;
  }
}
/*CONTACTO*/
@media only screen and (max-width: 820px) {
  .grid-contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto 70px;
    height: 100vh; /* Altura del 100% del viewport */
    width: 100vw;
  }
  .grid-contacto .sec2-contacto {
    margin: 15px 0px;
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: space-around;
    align-items: center;
    background-image: none;
  }
  .grid-contacto .sec2-contacto .formulario {
    display: flex;
    width: 320px !important;
    height: 460px !important; /*intente con @include pero no me pesco el !important*/
    justify-content: space-evenly;
    align-items: center;
    padding: 20px !important;
  }
  .grid-contacto .datos-contacto {
    display: flex;
    background-color: #A19B88;
    flex-direction: column;
    width: 90%;
    margin-right: 50px;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .grid-contacto .datos-contacto .contacto-imgs .titulo-datos {
    font-size: 80%;
  }
  .grid-contacto .datos-contacto p {
    font-size: 70%;
  }
}
/*FOOTER GENERAL*/
@media only screen and (max-width: 820px) {
  .footer {
    display: flex;
    align-content: center;
  }
  .footer .footer-elementos {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly !important;
    height: 100%;
  }
  .footer .footer-elementos .logo-footer {
    display: none;
  }
  .footer .footer-elementos .copyrigths {
    display: none;
  }
  .footer .footer-elementos div .redes-sociales {
    padding: 0px;
  }
}
/*PORTAFOLIO*/
@media only screen and (max-width: 820px) {
  .titulos-portafolio .titulo-portafolio {
    font-weight: 300;
    font-size: 300%;
  }
  .titulos-portafolio .subtitulo-portafolio {
    font-weight: 200;
    font-size: 125%;
  }
  .galeria-portafolio {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: repeat(7, auto) !important;
    width: 100vw !important;
    padding: 0px 20px 20px 20px !important;
    gap: 20px;
  }
  .galeria-portafolio .img-agustin {
    width: 100%;
    height: 100%;
    grid-column: 1/2 !important;
    grid-row: 1/2 !important;
    display: flex;
    flex-direction: column;
  }
  .galeria-portafolio .img-puntas {
    width: 100%;
    grid-column: 1/2 !important;
    grid-row: 2/3 !important;
  }
  .galeria-portafolio .img-interior-puntas {
    width: 100%;
    grid-column: 1/2 !important;
    grid-row: 3/4 !important;
  }
  .galeria-portafolio .img-arpa {
    width: 100%;
    grid-column: 1/2 !important;
    grid-row: 4/5 !important;
  }
  .galeria-portafolio .img-arpainterior {
    width: 100%;
    grid-column: 1/2 !important;
    grid-row: 5/6 !important;
  }
  .galeria-portafolio .img-baltazar {
    width: 100%;
    grid-column: 1/2 !important;
    grid-row: 6/7 !important;
  }
  .galeria-portafolio .img-oblicua {
    width: 100%;
    grid-column: 1/2 !important;
    grid-row: 7/8 !important;
  }
  .img-agustin:hover div, .img-puntas:hover div, .img-interior-puntas:hover div, .img-arpa:hover div, .img-arpainterior:hover div,
  .img-baltazar:hover div, .img-oblicua:hover div {
    transform: scale(1.1);
  }
  .img-agustin:hover img, .img-puntas:hover img, .img-interior-puntas:hover img, .img-arpa:hover img, .img-arpainterior:hover img,
  .img-baltazar:hover img, .img-oblicua:hover img {
    transform: scale(1.1);
  }
}
/*DISEÑOS GENERALES*/
body {
  margin: 0;
  padding: 0;
}

/*FOOTER*/
.footer {
  background-image: url(../imagenes-videos/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 0.5px #CCCCCC solid;
}
.footer .footer-elementos {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0px 20px 0px 20px;
  flex-wrap: wrap;
}
.footer .footer-elementos .logo-footer {
  width: 170px;
  height: 43px;
}
.footer .footer-elementos .copyrigths {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 50%;
  text-align: center;
  font-weight: normal;
  color: black;
  margin: 0px;
  padding-left: 3%;
}
.footer .footer-elementos div .redes-sociales {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  margin: 0px;
}
.footer .footer-elementos div .redes-sociales .rrss-footer { /*iconos de redes sociales*/
  width: 32px;
  height: 32px;
}

.rrss-footer:hover {
  opacity: 0.7;
  filter: brightness(150%);
}

.logo-nav {
  width: 220px;
  height: 50px;
}

.logo-responsive {
  display: none;
}

/*NAV GENERAL*/
.header-servicios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px 0px 40px;
  border-bottom: 1px solid #CCCCCC;
}
.header-servicios .barra-navegacion {
  align-items: center;
  width: 550px;
  justify-content: space-between;
}
.header-servicios .barra-navegacion li a {
  color: black;
}

.barra-navegacion .nav-item:hover .nav-link {
  color: dimgrey;
}

/*END*/
.logo-blanco {
  display: flex;
  width: 150px;
  height: 206px;
  flex-wrap: wrap;
}

.pag-index {
  height: 100vh;
}
.pag-index .header-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 220px;
  align-items: center;
}
.pag-index .header-index .nav-container {
  padding-bottom: 5%;
  padding-left: 5%;
}
.pag-index .header-index .nav-container .barra-nav-inicio {
  width: 550px;
  justify-content: space-between;
}
.pag-index .header-index .nav-container .barra-nav-inicio li .inicio {
  color: #F7F7F7;
  z-index: 100;
}

.logo {
  padding-top: 2%;
  padding-right: 4%;
  display: flex;
}

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 6%;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  z-index: -1;
}
.overlay .titulo {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 437.5%;
  color: #F7F7F7;
}
.overlay .sub-titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 162.5%;
  color: #F7F7F7;
}

.whatsapp {
  position: absolute;
  z-index: 100;
  right: 2.5%;
  bottom: 4%;
  width: 56px;
  height: 49px;
  transition: opacity 0.3s ease, filter 0.3s ease;
}
.whatsapp:hover {
  opacity: 0.7;
  filter: brightness(200%); /* Aumenta el brillo para dar un efecto de blanco */
}

.box-servicios, .grid-servicios .grid-servicios3 .servicio {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 30px;
  border: 1px solid #DBB41A;
  width: 300px;
  height: 330px;
  justify-content: space-around;
  text-align: center;
}

.overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
  top: 0px;
}

.titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-oblicua .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-baltazar .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-arpainterior .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-arpa .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-puntas .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-agustin .titulo-hoover {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 125%;
}

.descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-oblicua .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-baltazar .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-arpainterior .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-arpa .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-puntas .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-agustin .descripcion-hoover {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 85%;
  margin: 0px 30px;
}

/*para llamar en otro parcials primero importar al parcial en el que se desea ocupar, y luego poner:

ejemplo {
    @extend .box-servicios;
}

*/
/*servicios*/
.grid-servicios {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 70px auto auto 60px;
  width: 100vw;
  height: 100vh;
  background-image: url(../imagenes-videos/servicios-fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-servicios .header-servicios {
  grid-column: 1/7;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #F7F7F7;
}
.grid-servicios .titulos-servicios {
  grid-column: 1/7;
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-content: space-evenly;
  padding: 2% 8% 2.5% 8%;
}
.grid-servicios .titulos-servicios .titulos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  grid-row: 1/4;
  margin-bottom: 1%;
}
.grid-servicios .titulos-servicios .titulos .titulo-servicios {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 345%;
  margin: 0px;
}
.grid-servicios .titulos-servicios .titulos .subtitulo-servicios {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 120%;
}
.grid-servicios .titulos-servicios .descripcion-serv {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.grid-servicios .titulos-servicios .descripcion-serv .servicios {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 100%;
  font-style: normal;
  line-height: 1.5;
  text-align: justify;
  margin: 0px;
  margin-bottom: 1%;
}
.grid-servicios .titulos-servicios .descripcion-serv .boton-contacto {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 90%;
  color: #F7F7F7;
  background-color: #2C2918;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: none;
}
.grid-servicios .grid-servicios3 {
  grid-column: 1/7;
  grid-row: 3/4;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../imagenes-videos/linea.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0px 15px 40px 15px;
}
.grid-servicios .grid-servicios3 .servicio .tipos-servicios {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  font-size: 100%;
}
.grid-servicios .grid-servicios3 .servicio .descripcion-servicios {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 90%;
  display: flex;
  flex-direction: column;
}
.grid-servicios .grid-servicios3 .servicio .flecha {
  width: 40px;
  height: 40px;
}
.grid-servicios .footer-servicios {
  grid-column: 1/7;
  grid-row: 4/5;
}

.boton-contacto:hover {
  opacity: 0.9;
  filter: brightness(200%);
}

.flecha:hover {
  opacity: 0.7;
  filter: brightness(100%);
}

/*NOSOTROS*/
/*GRID NOSOTROS*/
.grid-nosotros {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 70px auto auto 60px;
  height: 100vh; /* Altura del 100% del viewport */
}
.grid-nosotros .header-nosotros {
  grid-column: 1/3;
  grid-row: 1/2;
}
.grid-nosotros .sobre-nosotros {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 20px 50px;
  align-items: center;
}
.grid-nosotros .sobre-nosotros .titulo-nosotros {
  margin: 0px;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 310%;
}
.grid-nosotros .sobre-nosotros .p-nosotros {
  margin: 0px;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 95%;
  text-align: justify;
}
.grid-nosotros .sobre-nosotros .boton-nosotros {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 90%;
  color: #F7F7F7;
  background-color: #2C2918;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  align-self: center;
  text-decoration: none;
}
.grid-nosotros .img-nosotros1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-nosotros .img-nosotros1 .img-nosotros {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 463px;
  height: 279px;
}
.grid-nosotros .pilares {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px 77px 50px;
  text-align: justify;
  align-content: center;
}
.grid-nosotros .pilares .icono-pilares {
  width: 59px;
  height: 47px;
}
.grid-nosotros .pilares p {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 95%;
  margin: 0px;
}
.grid-nosotros .imagenes-secdos {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../imagenes-videos/background-nosotros.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  align-items: center;
  align-content: center;
}
.grid-nosotros .imagenes-secdos img {
  width: 224px;
  height: 335px;
  margin: 0px 30px;
}
.grid-nosotros .footer-nosotros {
  grid-column: 1/3;
  grid-row: 4/5;
}

.boton-nosotros:hover {
  opacity: 0.9;
  filter: brightness(200%);
}

.box-servicios, .grid-servicios .grid-servicios3 .servicio {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 30px;
  border: 1px solid #DBB41A;
  width: 300px;
  height: 330px;
  justify-content: space-around;
  text-align: center;
}

.overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1;
  top: 0px;
}

.titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-oblicua .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-baltazar .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-arpainterior .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-arpa .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-puntas .titulo-hoover, .grid-content-portafolio .galeria-portafolio .img-agustin .titulo-hoover {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 125%;
}

.descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-oblicua .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-baltazar .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-arpainterior .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-arpa .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-interior-puntas .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-puntas .descripcion-hoover, .grid-content-portafolio .galeria-portafolio .img-agustin .descripcion-hoover {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 85%;
  margin: 0px 30px;
}

/*para llamar en otro parcials primero importar al parcial en el que se desea ocupar, y luego poner:

ejemplo {
    @extend .box-servicios;
}

*/
/*PORTAFOLIO*/
/*GRID PORTAFOLIO ELEMENTOS*/
.grid-content-portafolio {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70px auto auto 60px;
}
.grid-content-portafolio .header-portafolio {
  grid-column: 1/2;
  grid-row: 1/2;
}
.grid-content-portafolio .titulos-portafolio {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-content-portafolio .titulos-portafolio .titulo-portafolio {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 375%;
}
.grid-content-portafolio .titulos-portafolio .subtitulo-portafolio {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 125%;
  letter-spacing: 2px;
}
.grid-content-portafolio .galeria-portafolio {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid; /*GRID GALERIA PORTAFOLIO*/
  grid-template-columns: 40% 10% 5% 45%;
  grid-template-rows: repeat 4, 25%;
  padding: 0px 150px 50px 150px;
}
.grid-content-portafolio .galeria-portafolio .img-agustin {
  grid-column: 1/3;
  grid-row: 1/2;
  padding: 3px;
  position: relative; /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-agustin .portafolio-agustin {
  width: 100%;
  height: 100%;
}
.grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria {
  /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-puntas {
  grid-column: 3/5;
  grid-row: 1/2;
  padding: 3px;
  position: relative; /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-puntas .portafolio-puntas {
  width: 100%;
  height: 100%;
}
.grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria {
  /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-interior-puntas {
  grid-column: 1/4;
  grid-row: 2/3;
  padding: 3px;
  position: relative; /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-interior-puntas .portafolio-interiorpuntas {
  width: 100%;
  height: 100%;
}
.grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria {
  /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-arpa {
  grid-column: 4/5;
  grid-row: 2/3;
  padding: 3px;
  position: relative; /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-arpa .portafolio-arpa {
  width: 100%;
  height: 100%;
}
.grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria {
  /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-arpainterior {
  grid-column: 1/5;
  grid-row: 3/4;
  padding: 3px;
  position: relative; /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-arpainterior .portafolio-arpainterior {
  width: 100%;
  height: 100%;
}
.grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria {
  /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-baltazar {
  grid-column: 1/3;
  grid-row: 4/5;
  padding: 3px;
  position: relative; /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-baltazar .portafolio-baltazar {
  width: 100%;
  height: 100%;
}
.grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria {
  /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .galeria-portafolio .img-oblicua {
  grid-column: 3/5;
  grid-row: 4/5;
  padding: 3px;
}
.grid-content-portafolio .galeria-portafolio .img-oblicua .portafolio-oblicua {
  width: 100%;
  height: 100%;
}
.grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria {
  /*superposicion textos sobre imagenes*/
}
.grid-content-portafolio .footer-portafolio {
  grid-column: 1/2;
  grid-row: 4/5;
}

/*superposicion textos sobre imagenes*/
.img-agustin:hover .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-agustin:hover .overlay-galeria, .img-agustin:hover .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .img-agustin:hover .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .img-agustin:hover .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .img-agustin:hover .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .img-agustin:hover .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .img-agustin:hover .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .img-puntas:hover .overlay-galeria, .img-puntas:hover .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-puntas:hover .overlay-galeria, .img-puntas:hover .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .img-puntas:hover .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .img-puntas:hover .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .img-puntas:hover .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .img-puntas:hover .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .img-interior-puntas:hover .overlay-galeria, .img-interior-puntas:hover .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria, .img-interior-puntas:hover .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-interior-puntas:hover .overlay-galeria, .img-interior-puntas:hover .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .img-interior-puntas:hover .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .img-interior-puntas:hover .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .img-interior-puntas:hover .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .img-arpa:hover .overlay-galeria, .img-arpa:hover .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria, .img-arpa:hover .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .img-arpa:hover .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpa:hover .overlay-galeria, .img-arpa:hover .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .img-arpa:hover .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .img-arpa:hover .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .img-arpainterior:hover .overlay-galeria, .img-arpainterior:hover .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria, .img-arpainterior:hover .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .img-arpainterior:hover .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .img-arpainterior:hover .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-arpainterior:hover .overlay-galeria, .img-arpainterior:hover .grid-content-portafolio .galeria-portafolio .img-baltazar .overlay-galeria, .img-arpainterior:hover .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria, .img-baltazar:hover .overlay-galeria, .img-baltazar:hover .grid-content-portafolio .galeria-portafolio .img-agustin .overlay-galeria, .img-baltazar:hover .grid-content-portafolio .galeria-portafolio .img-puntas .overlay-galeria, .img-baltazar:hover .grid-content-portafolio .galeria-portafolio .img-interior-puntas .overlay-galeria, .img-baltazar:hover .grid-content-portafolio .galeria-portafolio .img-arpa .overlay-galeria, .img-baltazar:hover .grid-content-portafolio .galeria-portafolio .img-arpainterior .overlay-galeria, .grid-content-portafolio .galeria-portafolio .img-baltazar:hover .overlay-galeria, .img-baltazar:hover .grid-content-portafolio .galeria-portafolio .img-oblicua .overlay-galeria {
  opacity: 1;
}

/*end*/
/*CONTACTO*/
.grid-contacto {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 70px auto 60px;
  height: 100vh; /* Altura del 100% del viewport */
}
.grid-contacto .header-contacto {
  grid-column: 1/3;
  grid-row: 1/2;
  flex-direction: row;
}
.grid-contacto .header-contacto .nav-container {
  padding: 0px;
}
.grid-contacto .sec2-contacto {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-image: url(../imagenes-videos/background-contacto.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.grid-contacto .sec2-contacto .datos-contacto .contacto-imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.grid-contacto .sec2-contacto .datos-contacto .contacto-imgs .icono-datos {
  width: 22px;
  height: 22px;
}
.grid-contacto .sec2-contacto .datos-contacto .contacto-imgs .titulo-datos {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 87.5%;
  color: white;
  margin: 0px;
  padding-left: 15px;
}
.grid-contacto .sec2-contacto .datos-contacto p {
  padding-top: 10px;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0;
  font-style: normal;
  font-size: 75%;
  color: white;
}
.grid-contacto .sec2-contacto .formulario {
  border: 0.5px black solid;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 468px;
  height: 479px;
}
.grid-contacto .sec2-contacto .formulario h1 {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 156.25%;
  text-align: center;
}
.grid-contacto .sec2-contacto .formulario .item {
  border-bottom: 0.5px black solid;
  padding-top: 10px;
}
.grid-contacto .sec2-contacto .formulario .item input {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 75%;
  color: #AFAFAF;
  border: none;
  background: none;
  outline: none;
}
.grid-contacto .sec2-contacto .formulario .item textarea {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 75%;
  color: #AFAFAF;
  border: none;
  background: none;
  outline: none;
}
.grid-contacto .sec2-contacto .formulario .enviar {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 81.25%;
  color: #585858;
  position: relative;
  left: 43%;
  top: 20px;
}
.grid-contacto .footer-contacto {
  grid-column: 1/3;
  grid-row: 3/4;
}

/*# sourceMappingURL=styles.css.map */
