@charset "UTF-8";
/* DISEÑOS GENERALES */
body {
  margin: 0;
  padding: 0;
}

.copyrigths {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 50%;
  text-align: center;
  font-weight: normal;
  color: black;
  margin: 0;
  padding-left: 3%;
}

.fondo-footer {
  width: 100%;
  height: 122px;
}

.logo-footer {
  width: 170px;
  height: 43px;
}

.rrss-footer {
  width: 32px;
  height: 32px;
}
.rrss-footer:hover {
  opacity: 0.7;
  filter: brightness(150%);
}

.logo-nav {
  width: 220px;
  height: 50px;
}

.logo-responsive {
  display: none;
}

.redes-sociales {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 220px;
  margin: 0;
}

.logo-blanco {
  display: flex;
  width: 150px;
  height: 206px;
  flex-wrap: wrap;
}

.pag-index {
  height: 100vh;
}

/* INDEX */
/* PRIMERA PAG */
.header-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 220px;
  align-items: center;
}
.header-index .nav li .inicio {
  color: white;
  z-index: 100;
}

.nav-container {
  padding-bottom: 5%;
  padding-left: 5%;
}

.logo {
  padding-top: 2%;
  padding-right: 4%;
  display: flex;
}

.barra-nav-inicio {
  width: 550px;
  justify-content: space-between;
}

#video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 6%;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  z-index: -1;
}

.titulo {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 437.5%;
  color: white;
}

.sub-titulo {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  font-size: 162.5%;
  color: white;
}

.whatsapp {
  position: absolute;
  z-index: 100;
  right: 2.5%;
  bottom: 4%;
  width: 56px;
  height: 49px;
  transition: opacity 0.3s ease, filter 0.3s ease;
}
.whatsapp:hover {
  opacity: 0.7;
  filter: brightness(200%); /* Aumenta el brillo para dar un efecto de blanco */
}

.header-index .checkbtn {
  z-index: 1;
  display: none;
  color: #CCCCCC;
  font-size: 2.5rem;
  cursor: pointer;
}
.header-index #check {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header-index {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 35px;
    margin-right: 35px;
  }
  .header-index .checkbtn {
    display: block;
  }
  .barra-nav-inicio {
    position: fixed;
    background: #030000;
    width: 80%;
    height: 50%;
    right: -100%;
    transition: right 0.5s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    margin-top: 40px;
    border: none;
  }
  .barra-nav-inicio .nav-item {
    display: block;
    line-height: 10px;
    border: none;
  }
  .header-index .nav-tabs {
    border: black solid;
    padding: 40px 0px;
  }
  #check:checked ~ .nav-container .barra-nav-inicio {
    right: 0;
  }
  .logo-blanco {
    width: 110px;
    height: 150px;
  }
  .titulo {
    font-family: "Raleway", sans-serif;
    font-size: 350%;
    text-align: center;
    font-weight: 200;
    color: white;
  }
  .sub-titulo {
    font-family: "Raleway", sans-serif;
    font-size: 120%;
    font-weight: 100;
    color: white;
  }
}

/*# sourceMappingURL=styles.css.map */
