
.pag-index {
    height: 100vh;
    .header-index {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 220px;
        align-items: center;
        
        .nav-container {
            padding-bottom: 5%;
            padding-left: 5%;

            .barra-nav-inicio {
                width: 550px;
                justify-content: space-between;
                
                li .inicio {
                    color: map-get($paleta-colores, Blanco);
                    z-index: 100;
                } 
            }
        }
    }
}

.logo {
    padding-top: 2%;
    padding-right: 4%;
    display: flex;
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    @include size (auto, auto);
    z-index: -2;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 6%;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    z-index: -1;

    .titulo {
        font-family: $raleway;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: $font-size-titulo;
        color: map-get($paleta-colores, Blanco);
    }

    .sub-titulo {
        font-family: $raleway;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        font-size: $font-size-subtitulo;
        color: map-get($paleta-colores, Blanco);
    }
}

.whatsapp {
    position: absolute;
    z-index: 100;
    right: 2.5%;
    bottom: 4%;
    @include size (56px, 49px);
    transition: opacity 0.3s ease, filter 0.3s ease;

    &:hover {
        opacity: 0.7;
        filter: brightness(200%); /* Aumenta el brillo para dar un efecto de blanco */
    }
}
