.checkbtn {
    z-index: 1;
    display: none;
    }

 #check {
    display: none;
}

                        /*INDEX*/

@media only screen and (max-width: 1024px) {

    .contenedor-index {
        width: 100vw !important;
        height: 100vh;
        overflow: hidden;

        .video-background {
            width: 100%!important;
            height: 100% !important;
        }

        .pag-index {

            .header-index {
                display: flex;
                flex-direction: row-reverse !important; 
                margin-left: 35px;
                margin-right: 35px;
                
                .checkbtn {
                    display: block;
                    color: map-get($paleta-colores, Blanco);
                    font-size: 2.5rem;
                    cursor: pointer;
                }

                .nav-container {

                    .barra-nav-inicio {
                        border: black solid;
                        padding: 40px 0px;
                        position: fixed;
                        background: map-get($paleta-colores, Negro); 
                        @include size (80%, 50%);
                        right: -100%;
                        transition: right 0.5s ease;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        opacity: 0.6; 
                        margin-top: 40px;
                        border: none;

                        .nav-item {
                            display: block;
                            line-height: 10px;
                            border: none;
                        }
                    }
                }
            }

            .logo {
                .logo-blanco {
                    @include size (110px, 150px);
                }
            }

            .titulos-index {
                .titulo {
                    font-family: $raleway;
                    font-size: 350%;
                    text-align: center;
                    font-weight: 200;
                    color: map-get($paleta-colores, Blanco);
                }
                
                .sub-titulo {
                    font-family: $raleway;
                    font-size: 120%;
                    font-weight: 100;
                    color: map-get($paleta-colores, Blanco);
                }
            }
        }
    }

    #check:checked ~ .nav-container .barra-nav-inicio {
        right: 0;
    }
    
}    

                        /*BARRA NAV GENERAL*/

@media only screen and (max-width:820px) {

    .header-servicios {
        display: flex;
        flex-direction: row-reverse !important;
        padding: 0px 25px !important;
        height: 70px !important;

        .checkbtn {
            display: block;
            font-size: 1.5rem;
            cursor: pointer;
        }

        nav {
            .barra-navegacion {
                padding: 35px 0px;
                position: fixed;
                background: map-get($paleta-colores, Negro);
                width: 70%;
                height: 60%;
                right: -100%;
                transition: right 0.5s ease;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                opacity: 70%;
                margin-top: 40px;
                border: none;
                z-index: 1;

                .nav-item {
                    display: block;
                    border: none;

                    a {
                        color: map-get($paleta-colores, Blanco-invierno) !important;
                        text-decoration: none !important;
                        border-bottom: none !important;
                    }
                }
            }
        }
        a {
            .logo-nav {
            display: none;
            }
        }
        
        .responsive {
            display: block !important;

            .logo-responsive {
            display: flex;
            @include size (190px, 50px);
            }
        }
    }

    #check:checked ~ .nav-container .barra-navegacion {
        right: 0;
    }
}

                        /*CONTACTO*/

@media only screen and (max-width:820px) {
 
    .grid-contacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 70px auto 70px;
        height: 100vh; /* Altura del 100% del viewport */
        width: 100vw;

        .sec2-contacto {
            margin: 15px 0px;
            display: flex;
            flex-direction: column-reverse !important;
            justify-content: space-around;
            align-items: center;
            background-image: none;

            .formulario {
                display: flex;
                width: 320px !important;
                height: 460px !important; /*intente con @include pero no me funciono el !important*/
                justify-content: space-evenly;
                align-items: center;
                padding: 20px !important;
                }
            }
        

        .datos-contacto {
            display: flex;
            background-color: #A19B88;
            flex-direction: column;
            width: 90%;
            margin-right: 50px;
            padding-left: 35px;
            padding-top: 20px;
            padding-bottom: 10px;
            margin-bottom: 15px;

            .contacto-imgs {
                .titulo-datos {
                    font-size: 80%;
                }
            }

            p {
                font-size: 70%;
            }
        }
    }
}
 
                        /*FOOTER GENERAL*/

@media only screen and (max-width:820px) {

    .footer {
        display: flex;
        align-content: center;

        .footer-elementos {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly !important;
            height: 100%;

            .logo-footer {
                display: none;
            }

            .copyrigths {
                display: none;
            }

            div {
                .redes-sociales {
                    padding: 0px;
                }
            }
        }
    }
}

                        /*PORTAFOLIO*/

@media only screen and (max-width:1024px) {

    .header-portafolio {
        nav {
            .barra-navegacion {
                z-index: 100;
            }
        }
    }
    
    .titulos-portafolio {
        .titulo-portafolio {
            font-weight: 300;
            font-size: 300%;
        }
        
        .subtitulo-portafolio {
            font-weight: 200;
            font-size: 125%;
        }
    }

    .galeria-portafolio {
        display: grid !important;
        grid-template-columns: 100% !important;
        grid-template-rows: repeat(7,auto) !important;
        width: 100vw !important;
        padding: 0px 20px 20px 20px !important;
        gap: 20px !important;

        .img-agustin {
            width: 100%;
            height: 100%;
            grid-column: 1 / 2 !important;
            grid-row: 1 / 2 !important;
            display: flex;
            flex-direction: column;
            animation-delay: 100ms !important
        }

        .img-puntas {
            width: 100%;
            grid-column: 1 / 2 !important;
            grid-row: 2 / 3 !important;
            animation-delay: 100ms !important
        }

        .img-interior-puntas {
            width: 100%;
            grid-column: 1 / 2 !important;
            grid-row: 3 / 4 !important;
            animation-delay: 100ms !important
        }

        .img-arpa {
            width: 100%;
            grid-column: 1 / 2 !important;
            grid-row: 4 / 5 !important;
            animation-delay: 100ms !important
        }

        .img-arpainterior {
            width: 100%;
            grid-column: 1 / 2 !important;
            grid-row: 5 / 6 !important;
            animation-delay: 100ms !important
        }

        .img-baltazar {
            width: 100%;
            grid-column: 1 / 2 !important;
            grid-row: 6 / 7 !important;
            animation-delay: 100ms !important
        }

        .img-oblicua {
            display: none;
            width: 100%;
            grid-column: 1 / 2 !important;
            grid-row: 7 / 8 !important;
            animation-delay: 100ms !important
        }
    }

    .img-agustin:hover div, .img-puntas:hover div, .img-interior-puntas:hover div, .img-arpa:hover div, .img-arpainterior:hover div,
    .img-baltazar:hover div, .img-oblicua:hover div {
        transform: scale(1.05);
    }

    .img-agustin:hover img, .img-puntas:hover img, .img-interior-puntas:hover img, .img-arpa:hover img, .img-arpainterior:hover img,
    .img-baltazar:hover img, .img-oblicua:hover img {
        transform: scale(1.05);
    }
}

                        /*SERVICIOS*/

@media only screen and (max-width:1024px) {

    .grid-servicios {
        width: 100vw;
        background-image: url(../imagenes-videos/servicios-responsive.jpg) !important; /*no pude hacer que el background ocupe toda la pantalla y no entiendo por qué*/
        background-size: cover!important;
        background-repeat: no-repeat !important;

        .titulos-servicios {

            .titulos {
                margin-top: 38px !important;
                margin-bottom: 38px !important;
            }

            .descripcion-serv {
                margin-bottom: 38px !important;

                .servicios {
                    margin-bottom: 38px !important;
                    padding-left: 20px !important;
                    padding-right: 20px !important;
                }
            }
        }

        .grid-servicios3 {
            padding-bottom: 0px !important;
            background-image: none !important;

            .servicio {
                margin-bottom: 38px;
                animation-delay: 500ms !important;
                animation-duration: 100ms !important;
            }
        }
    }
}

                        /*NOSOTROS*/

@media only screen and (max-width:820px) {

    .grid-nosotros {
        display: flex !important;
        flex-direction: column;

        .header-nosotros {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }

        .sobre-nosotros {
            .titulo-nosotros {
                display: flex !important;
                align-content: center !important; /*no puedo centrar el titulo, no se por qué*/
                margin-bottom: 25px !important;
            }

            .p-nosotros {
                margin-bottom: 25px !important;
            }
        }

        .img-nosotros1 {
            .img-nosotros {
                width: 355px !important;
                height: 230px !important;
            }
        }

        .pilares {
            margin-top: 25px !important;
            padding-bottom: 0px !important;
            margin-bottom: 25px !important;

            img {
                margin-bottom: 25px !important;
            }
        }

        .imagenes-secdos {
            justify-content: space-evenly !important;
            margin-bottom: 25px !important;

            img {
                width: 170px !important;
                height: 280px !important;
                margin: 0px !important;
            }
        }

        .footer-nosotros {
            padding-top: 14px !important;
            padding-bottom: 14px !important;
        }
    }
}
