@import "_extend.scss";

/*servicios*/

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 70px auto auto 60px;
    width: 100vw;
    /*@include size (100vw, 100vh);*/
    background-image: url(../imagenes-videos/servicios-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;

    .header-servicios {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        /*background-color: map-get($paleta-colores, Blanco);*/
    }

    .titulos-servicios {
        grid-column: 1 / 7;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-content: space-evenly;
        padding: 2% 8% 2.5% 8%;

        .titulos {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            grid-row: 1/4;
            margin-bottom: 1%;
        
            .titulo-servicios {
                font-family: $public-sans;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 345%;
                margin: 0px;
            }

            .subtitulo-servicios {
                font-family: $public-sans;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 120%;
            }
        }

        .descripcion-serv {
            justify-content: center;
            display: flex;
            flex-direction: column;

            .servicios {
                font-family: $public-sans;
                font-optical-sizing: auto;
                font-weight: 300;
                font-size: 100%;
                font-style: normal;
                line-height: 1.5;
                text-align: justify;
                margin: 0px;
                margin-bottom: 1%;
            }

            .boton-contacto {
                font-family: $public-sans;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 90%;
                color: map-get($paleta-colores, Blanco);
                background-color: #2C2918;
                padding: 5px 15px;
                display: flex;
                justify-content: center;
                align-self: center;
                text-decoration: none;
            }
        }
    }

    .grid-servicios3 {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        background-image: url(../imagenes-videos/linea.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 0px 15px 40px 15px;

        .servicio {
            @extend .box-servicios;

            .tipos-servicios {
                font-family: $public-sans;
                font-optical-sizing: auto;
                font-weight: 650;
                font-style: normal;
                font-size: 100%;
            }

            .descripcion-servicios {
                font-family: $public-sans;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 90%;
                display: flex;
                flex-direction: column;
            }

            .flecha {
                @include size (40px, 40px);
            }

        }
    }

    .footer-servicios {
        grid-column: 1/7;
        grid-row: 4/5;
    }
}

.boton-contacto:hover {
    opacity: 0.9;
    filter: brightness(200%);
}

.flecha:hover {
    opacity: 0.7;
    filter: brightness(100%);
}
