@import "_extend.scss";

/*servicios*/

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 70px auto auto 60px;
    width: 100vw;
    height: 100vh;
    background-image: url(../imagenes-videos/servicios-fondo.png);
    background-repeat: no-repeat;
    background-size: cover;

    .header-servicios {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        border-bottom: 1px solid #CCCCCC;
        flex-wrap: wrap;
        background-color: white;
    }

    .titulos-servicios {
        grid-column: 1 / 7;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        padding-top: 2.5%;
        padding-bottom: 2.5%;

        .titulos {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 50%;
        
            .titulo-servicios {
                font-family: "Public Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 400%;
            }

            .subtitulo-servicios {
                font-family: "Public Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 125%;
            }
        }

        .descripcion-serv {
            padding-right: 90px;
            justify-content: center;
            padding-right:90px;

            .servicios {
                font-family: "Public Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                line-height: 1.5;
                text-align: justify;
                margin: 0px;
            }

            .boton-contacto {
                font-family: "Public Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 90%;
                color: white;
                background-color: #2C2918;
                padding: 5px 15px;
                text-align: center;
                display: inline-block;
                align-self: center;
                text-decoration: none;
                margin-top: 3%;
            }
        }
    }

    .grid-servicios3 {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        background-image: url(../imagenes-videos/linea.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 0px 15px 40px 15px;

        .servicio {
            @extend .box-servicios;

            .tipos-servicios {
                font-family: "Public Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 650;
                font-style: normal;
                font-size: 100%;
            }

            .descripcion-servicios {
                font-family: "Public Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                font-size: 90%;
                display: flex;
                flex-direction: column;
            }

            .flecha {
                width: 40px;
                height: 40px;
            }

        }
    }

    .footer {
        grid-column: 1/7;
        grid-row: 4/5;
        background-image: url(../imagenes-videos/footer.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border: 0.5px #CCCCCC solid;

        .footer-elementos{
            display: flex;
            flex-direction: row;
            color: white;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: 0px 20px 0px 20px;
            flex-wrap: wrap;
        }
    }
}

.boton-contacto:hover {
    opacity: 0.9;
    filter: brightness(200%);
}

.flecha:hover {
    opacity: 0.7;
    filter: brightness(100%);
}
