/*$color-black: black;
$color-dimgrey: dimgrey;
$color-background: #A19B88;
$color-hover: #2C2918;

$font-size-copyrigths: 50%;
$font-size-titulo-servicios: 400%;
$font-size-subtitulo-servicios: 125%;
$font-size-boton-contacto: 90%;
$font-size-titulos-servicios: 100%;
$font-size-descripcion-serv: 90%;
$font-size-tipos-servicios: 100%;
$font-size-descripcion-servicios: 90%;
$font-size-titulo-portafolio: 375%;
$font-size-subtitulo-portafolio: 125%;
$font-size-titulo-nosotros: 310%;
$font-size-pilares: 95%;
$font-size-boton-nosotros: 90%;
$font-size-p-nosotros: 95%;
$font-size-datos-contacto: 75%;
$font-size-titulo-datos: 87.5%;
$font-size-formulario: 75%;
$font-size-enviar: 81.25%;*/

/*maps, variables, mixins, extend*/

@import "_maps.scss";
@import "_variables.scss";
@import "mixins.scss";
@import "_extend.scss";
@import "_mediaquerys.scss";
@import "_general-desing.scss";
@import "_index.scss";
@import "_servicios.scss";
@import "_nosotros.scss";
@import "_portafolio.scss";
@import "_contacto.scss";
@import "_animaciones.scss";
